<div class="day-activity">
  <div class="date round-5">
    <div class="day">
      <%= date.strftime('%a') %>
    </div>
    <div class="daynumber">
      <%= date.strftime('%d') %>
    </div>
  </div>
  <div class="activity">
    <%= render :partial => 'activity_item',
      :collection => @activity_items.select {|a| a[:date].to_date == date},
      :as => :timeslice %>
  </div>
</div>
