<div class="day-activity">
  <div class="date round-5">
    <div class="day">
      <%= date.strftime('%a') %>
    </div>
    <div class="daynumber">
      <%= date.strftime('%d') %>
    </div>
  </div>
  <div class="activity">
    <%= render :partial => 'activity_item',
      :collection => @timeslices.select {|t| t.date == date},
      :as => :timeslice %>
  </div>
</div>
