<% javascript 'dashboard' %>
<% javascript 'ajax' %>
<% javascript 'dashboard.not_staff_dashboard' %>
<div class="panels">
  <div id="project-list" class="panel two">
    <h3 class="title">Current projects (<%= @projects.size %>)</h3>
    <div class="projects content">
      <%= render :partial => 'projects/project_not_staff_dashboard', :collection => @projects, :as => :project %>
    </div>
    <div class="panel-footer">
      <%= link_to 'More ...', projects_path %>
    </div>
  </div>
  <div id="tasks-to-action" class="panel two">
    <h3 class="title">Task to Accept or Reject</h3>
    <div class="content">
    <%= render :partial => 'tasks/task_to_action_dashboard', :collection => @tasks, :as => :task %>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
