<% javascript 'dashboard' %>
<div class="panels">
  <div id="project-list" class="panel two">
    <h3 class="title">Current projects (<%= @projects.size %>)</h3>
    <div class="projects content">
      <%= render :partial => 'projects/project_dashboard', :collection => @projects %>
    </div>
    <div class="panel-footer">
      <%= link_to 'More ...', projects_path %>
    </div>
  </div>
  <div id="recent-activity" class="panel two">
    <h3 class="title">Recent activity</h3>
    <div class="content">
    <%= render :partial => 'day_activity', :collection => @activity_dates,
      :as => :date%>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
