<% javascript_tag do %>
$(document).ready(function() {
  $('#projects').accordion({
        autoHeight: false,
        header: 'h3',
        collapsible: true,
        active: false
        });

});
<% end %>
<div class="panel no-padding">
<h3 class="title">Project tasks</h2>
<div class="content">
<ul id="projects">
<% @projects.sort_by(&:weight).each do |project| %>
<li>
<h3 class="title <%= "mine" if project.user == current_user%>"><%= project.full_name %></h2>
<ul class="tasks">
<% project.tasks.current.sort_by(&:weight).each do |task| %>
<li class="<%= "mine" if task.mine? current_user  %>"><%= link_to task, task%></li>
<% end %>
</ul>
</li>
<% end %>
</ul>
</div>
</div>
