<% @body_classes = ['projects', 'projects-project_order'] %>
<% javascript 'ajax' %>
<% javascript 'project.project_order' %>
<% form_tag project_order_path, { :method => :put, :id => 'project_order_form'} do %>

<% ['proposed', 'postponed', 'current', 'complete'].each do |state| %>
  <div id="project_order_<%= state %>" class="panel four projects project_order">
    <h3><%= state.to_s.capitalize %><div class="expand-collapse expand"></div><div class="expand-collapse collapse"></div></h3>
    <div class="projects content">
      <%= render :partial => 'projects/ordered_project',
                 :collection => Project.send(state).sort_by {|project| project.weight} %>
    </div>
    <div class="panel-footer">
    ...
    </div>
  </div>
<% end %>

<%= submit_tag "Update order" %>
<% end %>
