<% @body_classes = ['dashboard-' + @partial] %>
<%= title "Dashboard" %>
<% if current_user.is_staff? %>
<script type="text/javascript">
$(document).ready(function() {
  $('#dashboard-select').val(readCookie('dashboardView') || 'project_activity');
  $('#dashboard-select').change(function() {
    createCookie('dashboardView', $(this).val());
    window.location.reload();
  });
});
</script>
<select id="dashboard-select">
  <option value="project_activity">Projects + Recent activity</option>
  <option value="projects_overview">Projects Overview</option>
  <option value="assigned_tasks">My Tasks</option>
  <option value="project_tasks">My projects and tasks</option>
  <option value="not_staff_dashboard">Tasks for acceptance</option>
</select>
<% end %>
<div id="dashboard">
  <%= render :partial => @partial %>
</div>
