<% title "Dashboard" %>

<% current_user.dashboard_panels.each do |slice| %>
  <div class="row">
    <% slice.each do |panel| %>
      <div id="<%= panel %>" class="span8">
        <%= render :partial => panel %>
      </div>
    <% end %>
  </div>
<% end %>