/**
 * Navigation
 */

#nav {
  padding: 0px;
  overflow: auto;
  border-bottom: 1px solid #e2e2e2;
}

/**
 * Breadcrumbs
 */

ul#breadcrumbs {
  margin: 5px;
  overflow: auto;
  padding: 0;
  float: left;
}

ul#breadcrumbs li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #575757;
  display: block;
  float: left;
  position: relative;
}

ul#breadcrumbs li a {
  white-space: nowrap;
  color: #575757;
  display: block;
  padding: 2px 4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
}

ul#breadcrumbs li a:hover {
  color: #000;
}

ul#breadcrumbs li a:after {
  color: #575757;
  content: "  ⟩";
  padding-left: 4px;
}

ul#breadcrumbs li:last-child a:after {
  content: "";
}

ul#breadcrumbs li a:active,
ul#breadcrumbs li a:visited {
  outline: 0;
}

ul#breadcrumbs li:last-child a {
  color: #000;
}

ul#breadcrumbs li.home a span.ui-icon {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}

ul#breadcrumbs li.home {
  background-image: none;
  background-color: transparent;
  border: 0px;
  font-weight: normal;
}

/**
 * Primary Navigation
 */
ul.primary-nav {
  margin: 10px 0 0 0;
  float: right;
  padding: 0;
  list-style: none;
}

ul.primary-nav li {
  float: left;
  margin: 0 0 0 10px;
  position: relative;
}

ul.primary-nav li.projects {
  background-image: url("/images/nav-projects.png");
  background-repeat: no-repeat;
}

ul.primary-nav li.projects:hover {
  background-image: url("/images/nav-projects-mo.png");
}

ul.primary-nav li.reports {
  background-image: url("/images/nav-reports.png");
  background-repeat: no-repeat;
}

ul.primary-nav li.reports:hover {
  background-image: url("/images/nav-reports-mo.png");
}

ul.primary-nav li.time {
  background-image: url("/images/nav-time.png");
  background-repeat: no-repeat;
  width: 47px;
}

ul.primary-nav li.time:hover {
  background-image: url("/images/nav-time-mo.png");
}

ul.primary-nav li.people {
  background-image: url("/images/nav-people.png");
  background-repeat: no-repeat;
  width: 64px;
}

ul.primary-nav li.people:hover {
  background-image: url("/images/nav-people-mo.png");
}

ul.primary-nav li.sales {
  background-image: url("/images/nav-sales.png");
  background-repeat: no-repeat;
  width: 39px;
}

ul.primary-nav li.sales:hover {
  background-image: url("/images/nav-sales-mo.png");
}

div#header ul.primary-nav li:hover ul {
  display: block;
}

ul.primary-nav li.search {
  background-image: url("/images/nav-magnify.png");
  background-repeat: no-repeat;
  width: 44px;
}

ul.primary-nav li.search:hover {
  background-image: url("/images/nav-magnify-mo.png");
}

ul.primary-nav li.projects span,
ul.primary-nav li.time span,
ul.primary-nav li.people span,
ul.primary-nav li.sales span,
ul.primary-nav li.reports span,
ul.primary-nav li.search span {
  display: block;
  overflow: hidden;
  height: 75px;
}

ul.primary-nav li.projects a,
ul.primary-nav li.time a,
ul.primary-nav li.people a,
ul.primary-nav li.sales a,
ul.primary-nav li.reports a,
ul.primary-nav li.search a {
  display: block;
  padding: 200px 0 0 0;
}

ul.primary-nav li.projects a {
  width: 44px;
}

div#header ul.primary-nav ul {
    -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  position: absolute;
  background-color: #fff;
  top: 60px;
  right: 0px;
  z-index: 2;
  margin: 0;
  padding: 10px;
  display: none;
}

div#header ul.primary-nav ul li {
  display: block;
  min-width: 150px;
  padding: 0;
  margin: 0 0 5px 0;
  white-space: nowrap;
}

div#header ul.primary-nav ul li:last-child {
    margin-bottom: 0px;
}

div#header ul.primary-nav ul li span {
  display: block;
  height: auto;
}

div#header ul.primary-nav ul li a {
  display: block;
  background-image: none;
  padding: 0;
  margin: 0 0 0 0px;
  width: 100%;
}

div#header ul.primary-nav ul li.unsaved-timeslice a {
  width: 75%;
}

div#header ul.primary-nav ul li.unsaved-timeslice span.task {
  display: block;
  float: right;
  position: relative;
  right: 25px;
  top: -20px;
}

div#header ul.primary-nav ul li span.title {
  margin: 0 0 0 25px;
  width: 100%;
  font-weight: bold;
  color: #333333;
}

div#header ul.primary-nav ul li a:link {
  color: #0472cc;
  text-decoration: none;
}

div#header ul.primary-nav ul li a:visited {
  color: #0472cc;
  text-decoration: none;
}

div#header ul.primary-nav ul li a:hover {
  color: black;
  text-decoration: none;
}

/**
 * Context links
 */

ul#context-links {
  float: right;
  margin: 5px;
  overflow: auto;
  padding: 0;
}

ul#context-links li {
  list-style: none;
  padding: 0;
  margin: 0 4px 0 0;
  color: white;
  display: block;
  float: left;
}

ul#context-links li.right {
  float: right;
  margin-left: 4px;
  margin-right: 0px;
}

ul#context-links li a {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #CECECE;
  color: black;
  display: block;
  padding: 2px 4px;
  text-decoration: none;
  background-color: #E2E2E2;
  text-shadow: 1px 1px 1px #fff;
}

ul#context-links li a:active, ul#context-links li a:visited {
  outline: 0;
}

ul#context-links li a:hover {
  background-color: #CECECE;
}

/*

#header ul#menu {
  z-index: 1;
  margin: 70px 0 0 0;
  position: absolute;
  left: 112px;
  padding: 0;
}

#header ul#menu li:last-child {
  margin-right: 0px;
}

#header ul#menu li {
  list-style: none;
  padding: 0;
  margin: 0 4px;
  color: #333333;
  display: block;
  float: left;
}

#header ul#menu li a {
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  display: block;
  padding: 2px 4px;
  text-decoration: none;
  background-color: #333333;
  background-image: url("/images/gradient.png");
  background-position: 50% 50%;
  background-repeat: repeat-x;
  color: white;
}

#header ul#menu li a:active, #header ul#menu li a:visited {
  outline: 0;
}

#header ul#menu li a:hover, #header ul#menu li.active a, #header ul#menu li a.active {
  background-color: white;
  color: #333333;
}

#header ul#menu li a img {
  margin-top: 2px;
  display: inline-block;
}
*/
