<%- content_for :breadcrumbs do -%>
  <%= crumb 'Reset password', reset_path %>
<%- end -%>

<%= title "Forgot Password" %>
<p>
Fill out the form below and instructions to reset your password will be emailed to you:
</p>

<% form_tag password_resets_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email" %><br />
  <br />
  <%= submit_tag "Reset my password" %>
<% end %>

