<% unless @q.blank? %>
<%= title "Search results for \"#{ @q }\"" %>
<ul class="results">
<% @search.results.each do |result| %>
  <li><strong><%= link_to truncate(result.to_s, 100), result %></strong> - <%= h result.class.to_s %></li>
<% end %>
</ul>
<%= will_paginate(@search.results) %>
<% end %>