<% unless @q.blank? %>
<%= title "Search results for \"#{ @q }\"" %>
<% @search.results.group_by(&:class).each do |model, results| %>
<h3><%= h model.to_s.pluralize %></h3>
<ul class="results">
  <% results.each do |result| %>
  <li><strong><%= link_to truncate(result.to_s, :length => 100), result %></strong></li>
  <% end %>
</ul>
<% end %>
<%= will_paginate(@search.results) %>
<% end %>
