#page {
  margin: 40px;
}


.dashboard-panel {
  height: 795px;
  padding: 0px 5px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media only screen and (max-width: 3840px) {
  .dashboard-panel {
    width: 25%;
  }
}

@media only screen and (max-width: 1920px) {
  .dashboard-panel {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1280px) {
  .dashboard-panel {
    width: 50%;
  }
}

.topbar {
  position: absolute;
  z-index: 1000;
}

.topbar .topbar-inner {
  background-image: none;
  background-color: #575757;
}

body {
  background-color: #EAEAEA;
}

#page > .content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	 border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	 box-shadow: 0 1px 2px rgba(0,0,0,.15);
  overflow: hidden;
  zoom: 1;
}

#project_list .project {
  border-bottom: #DDD solid 1px;
}

#project_list .project .customer a {
  color: #575757;
}

.panel {
  overflow-x: hidden;
  overflow-y: auto;
  height: 640px;
}

.dashboard-select-wrapper {
  float: right;
  margin-top: -27px;
}

#project-list input.search {
	height: 12px;
	font-size: 12px;
	float: right;
	margin-top: 9px;
}

.nav li.gravitar a img {
  border: 1px #BFBFBF solid;
  margin: -6px 0 -12px 0;
}
/*
ul.breadcrumb,
div.alert-message {
	display: none;
}
*/


.topbar h3.title a img {
  margin: -20px 0px;
  vertical-align: middle;
}

.tabs a img {
  vertical-align: middle;
}

#timesheet-calendar {
  overflow: hidden;
}

.controls.input-append {
  overflow: hidden;
  zoom: 1;
}

.fc-state-highlight {
	background-color: #EAEAEA!important;
}

.fc-event-skin {
  border-color: #0064CD!important;
  background-color:#0064CD!important;
  color: white;
}

.handle {
  background-image: url("/images/draggable.png");
  background-position: 0 0;
  cursor: move;
  display: block;
  height: 15px;
  width: 15px;
  margin: 3px;
  float:left;
}

form.edit_user div.input-list-item {
  clear: left;
}
  
form.edit_user .inputs-list input[type="checkbox"] {
  margin-left: 0px;
}
form.edit_user .inputs-list span {
  margin: 5px;
}
div.input.listinput {
  float:left;
  margin-left: 0px;
}

.inline-file {
  width: 100%;
  box-sizing: border-box;
  height: 900px;
	
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 19px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.fc-event-skin {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81!important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
