#page {
  margin: 40px;
}


.dashboard-panel {
  height: 575px;
  padding: 0px 5px;
  float: left;
  box-sizing: border-box; 
}

@media only screen and (max-width: 3840px) {
  .dashboard-panel {
    width: 25%;
  }
}

@media only screen and (max-width: 1920px) {
  .dashboard-panel {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1280px) {
  .dashboard-panel {
    width: 50%;
  }
}

.topbar {
  position: absolute;
  z-index: 1000;
}

.topbar .topbar-inner {
  background-image: none;
  background-color: #575757;
}

body {
  background-color: #EAEAEA;
}

#page > .content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	 border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	 box-shadow: 0 1px 2px rgba(0,0,0,.15);
  overflow: hidden;
  zoom: 1;
}



#project_list .project {
  border-bottom: #DDD solid 1px;
}

#project_list .project .customer a {
  color: #575757;
}

.panel {
  overflow-x: hidden;
  overflow-y: auto;
  height: 420px;
}

.dashboard-select-wrapper {
  float: right;
  margin-top: -27px;
}

#project-list input.search {
	height: 12px;
	font-size: 12px;
	float: right;
	margin-top: 9px;
}

.nav li.gravitar a img {
  border: 1px #BFBFBF solid;
  margin: -6px 0 -12px 0;
}
/*
ul.breadcrumb,
div.alert-message {
	display: none;
}
*/


.topbar h3.title a img {
  margin: -20px 0px;
  vertical-align: middle;
}

.tabs a img {
  vertical-align: middle;
}

#timesheet-calendar {
  overflow: hidden;
}

.controls.input-append {
  overflow: hidden;
  zoom: 1;
}

.fc-state-highlight {
	background-color: #EAEAEA!important;
}

.fc-event-skin {
  border-color: #0064CD!important;
  background-color:#0064CD!important;
  color: white;
}

.handle {
  background-image: url("/images/draggable.png");
  background-position: 0 0;
  cursor: move;
  display: block;
  height: 15px;
  width: 15px;
  margin: 3px;
  float:left;
}

form.edit_user div.input-list-item {
  clear: left;
}
  
form.edit_user .inputs-list input[type="checkbox"] {
  margin-left: 0px;
}
form.edit_user .inputs-list span {
  margin: 5px;
}
div.input.listinput {
  float:left;
  margin-left: 0px;
}
