/**
 * Attachments
 */

div#attachments {
  clear: both;
  margin: 0;
 padding: 5px 0;
  overflow: auto;
}

form a.add {
  margin: 0px;
}

div#attachments div.form-item {
  clear: both;
  display: block;
  float: left;
  margin: 0 0 4px 0;
  padding: 5px;
  line-height: 25px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #939393;
  border-width: 1px;
}

div#attachments div.form-item label {
  display: block;
  float: left;
  margin: 0 12px 0 4px;
  padding: 0;
  width: inherit;
  min-width: inherit;
}

div#attachments div.form-item span.delete {
  display: block;
  margin: 4px 4px 4px 12px;
  float: right;
}

a.add {
  background: url("/images/add.png") no-repeat scroll 0 2px;
  display: block;
  float: left;
  margin: 0 5px 0 10px;
  padding: 0 0 0 18px;
}


ul.attachments {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 25px 0 20px 0px;
  padding: 5px 10px 10px 10px;
  list-style: none;
  clear: both;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #939393;
  border-width: 1px;
}

ul.attachments li {
  margin: 0;
  padding: 0 0 3px 0;
}
