/**
 * Comments
 */

div#comments {
  clear: both;
  padding: 20px 0 20px;
}

div#comments div.comment {
  clear: both;
  padding: 0 0 15px 0;
  overflow: auto;
}

div#comments div.comment-form {
  clear: both;
  padding: 0 0 15px 0;
  overflow: auto;
}

div#comments div.comment a.edit,
div#comments div.comment a.delete {
  float: right;
  visibility: hidden;
}

div#comments div.comment:hover a.edit,
div#comments div.comment:hover a.delete {
  visibility: visible;
}


#comments h3.title {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  padding: 5px 7px;
}

#comments {
  margin-bottom: 10px;
}


#comments .comment {
  border-bottom: #cccccc solid 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
