/**
 * Customers
 */

div.customers ul {
  margin: 0;
  padding: 0;
}


div.customers ul.customers > li {
  background-repeat: repeat-x;
  background-image: url("/images/gradient.png");
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #eeeeee;
  clear: both;
  overflow: auto;
  padding: 2px 15px 3px 15px;
  margin: 5px 0;
  font-size: 13px;
}

div.customers ul.customers > li:hover {
  background-color: #e2e2e2;
  border-color: #cecece;
}

div.customers li span.name {
  display: block;
  float: left;
  width: 30%;
}

div.customers li span.name a {
  display: block;
}

div.customers li ul {
  display: block;
  float: left;
  list-style: none;
}

div.customers li span.projects {
  display: block;
  float: left;
  width: 70px;
}

div.customers li ul li {
  display: block;
  float: left;
  clear: none;
  margin: 0 10px 0 0;
}

body.customers-show div.customers h3 {
  font-size: 15px;
  margin: 0;
  padding: 5px 0 5px 15px;
}

body.customers-show ul.projects {
  margin: 0 0 15px 0;
  padding: 0;
}
