/**
 * Dashboards
 */

body.dashboard h2.title {
  float: left;
}

body.dashboard #dashboard-select {
  float: right;
}

body.dashboard #dashboard {
  clear: both;
}


body.dashboard #content .panel.tasks, body.projects #content #task_order_done {
  float: right;
  margin-left: 0px;
}

body.dashboard #content .panel.searching li {
  display: none;
}

body.dashboard #content .panel.searching li.match {
  display: list-item;
}


#project-list .projects {
  min-height: 400px;
  max-height: 550px;
  overflow: auto;
  margin: 0;
  padding: 10px 0;
}

#project-list h3.title input {
  font-size: 0.9em;
  height: 1em;
}

#project-list div.project {
  padding: 5px 15px 5px 15px;
  margin: 0;
  font-size: 13px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #eeeeee;
  margin: 5px 0px;
  background-repeat: repeat-x;
  background-image: url("/images/gradient.png");
}

#project-list div.project:hover {
  background-color: #d6d6d6;
  border-color: #c3c3c3;
}

#project-list div.project a:hover,
#project-list div.project .customer a:hover {
  color: black;
}

#project-list div.project .customer a {
  font-style: italic;
  color: #333333;
}

#project-list div.project .name {
  display: block;
}

#project-list div.project .info {
  line-height: 2em;
  color: #aaaaaa;
}

#project-list div.project .overview {
  float: right;
}

#project-list h3 input.search {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  float: right;
  border: 1px solid #6a6a6a;
}

#project-list.searching div.project {
  display: none;
}

#project-list.searching div.project.match {
  display: block;
}

body.dashboard-not_staff_dashboard #project-list div.project {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 4px 0px 0px 0px;
  margin: 0 0 15px 0;
}

body.dashboard-not_staff_dashboard #project-list div.project .name,
body.dashboard-not_staff_dashboard #project-list div.project .customer,
body.dashboard-not_staff_dashboard #project-list div.project .overview {
  display: block;
  float: left;
  width: 28%;
  margin: 0;
  color: black;
  padding: 0px 15px 6px 15px;
}

body.dashboard-not_staff_dashboard #project-list div.project .name {
  padding: 0px 0 6px 15px;
}

body.dashboard-not_staff_dashboard #project-list div.project:hover .customer,
body.dashboard-not_staff_dashboard #project-list div.project:hover .name,
body.dashboard-not_staff_dashboard #project-list div.project .overview {
  display: block;
  float: left;
  width: 28%;
  margin: 0;
  color: black;
}

#staff_time_stats, #hours_calendar {
  width: 48%;
}

#staff_time_stats {
  float: left;
}

#hours_calendar {
  float: right;
}

#staff_time_stats .staff {
  margin-bottom: 20px;
}

#staff_time_stats strong {
  color: #333333;
}

#staff_time_stats .staff .stat {
  margin-left: 10px;
}

#staff_time_stats .staff .stats .stat {
  margin-bottom: 5px;
}

#hours_calendar table tbody tr, #hours_calendar table thead {
  border: 0px;
}

.week-total-time, .fc-agenda .week-total-time .fc-event-time, .week-total-time a {
  background-color: #0472cc !important;
  border-color: #0472cc !important;
}

.day-total-time, .fc-agenda .day-total-time .fc-event-time, .day-total-time a {
  background-color: #cc040b !important;
  border-color: #cc040b !important;
}

body.dashboard-project_tasks ul#projects li h3 {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 5px 15px 5px 25px;
  margin: 0;
  clear: both;
  overflow: auto;
}

body.dashboard-project_tasks ul#projects li h3:hover {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 4px 15px 4px 25px;
}

body.dashboard-project_tasks ul#projects h3.ui-state-active {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 4px 15px 4px 25px;
  background-image: none;
}

body.dashboard-project_tasks ul#projects ul.tasks {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 4px 12px 10px 12px;
  margin: 0;
  clear: both;
  background-color: white;
  overflow: auto;
  border-style: solid;
  border-width: 0px 0 5px 0;
  border-color: #c3c3c3;
}

body.dashboard-project_tasks ul#projects ul.tasks li.mine,
body.dashboard-project_tasks ul#projects h3.mine {
  background-color: #c8dff1;
}

body.dashboard-project_tasks ul#projects .ui-corner-all {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

body.dashboard-project_tasks ul#projects .ui-state-default,
body.dashboard-project_tasks ul#projects .ui-widget-content .ui-state-default,
body.dashboard-project_tasks ul#projects .ui-widget-header .ui-state-default {
  background-image: none;
  background-color: transparent;
  border-width: 0px;
  color: black;
  font-weight: normal;
}

body.dashboard-project_tasks ul#projects .ui-helper-reset {
  border: 0 none;
  font-size: 100%;
  line-height: 1.3;
  list-style: none outside none;
  outline: 0 none;
  text-decoration: none;
}

body.dashboard-project_tasks ul#projects .ui-widget-header .ui-state-default {
  background-image: none;
  background-color: transparent;
  border: 0px solid #d3d3d3;
  color: black;
  font-weight: normal;
}

body.dashboard-project_tasks .panel {
  float: none;
  width: auto;
}


#recent-activity div.date {
  border: 2px solid #6a6a6a;
  width: 4em;
  text-align: center;
  float: left;
  font-size: 0.8em;
}

#recent-activity div.day {
  color: white;
  font-weight: bold;
  background-color: #6a6a6a;
}

#recent-activity div.daynumber {
  font-size: x-large;
  padding: 0.2em;
}

#recent-activity div.activity {
  margin-left: 4.5em;
}

#recent-activity div.day-activity {
  padding-top: 2em;
}

#recent-activity div.activity-item {
  border-bottom: 2px dotted #6a6a6a;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
}

#recent-activity div.activity-item a.gravatar {
  display: block;
  float: left;
  margin-right: 10px;
}

#recent-activity div.activity-item div.activity-info a {
  color: #000;
}

#recent-activity div.activity-item span.time {
  display: block;
}

#recent-activity div.activity-item a.subject {
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 20px;
}

#recent-activity div.activity-item a.subject.task {
  background-image: url("/images/object_icons/task.png");
}

#recent-activity div.activity-item a.subject.project {
  background-image: url("/images/object_icons/project.png");
}

#recent-activity div.activity-item a.subject.timeslice {
  background-image: url("/images/object_icons/timeslice.png");
}

#recent-activity div.activity-item a.subject.comment {
  background-image: url("/images/object_icons/comment.png");
}

#recent-activity div.activity-item a.subject.attachment {
  background-image: url("/images/object_icons/attachment.png");
}

#recent-activity div.activity-item a.subject.stakeholder {
  background-image: url("/images/object_icons/stakeholder.png");
}

#recent-activity div.activity-item a.subject.customer {
  background-image: url("/images/object_icons/customer.png");
}


#recent-activity div.parent-info {
  text-align: right;
  float: right;
  width: 40%;
}


/**
 * Customer dashboard
 */



#tasks-to-action .panel .content {
  font-size: 13px;
}

#tasks-to-action > .content {
  padding: 10px 0 0 0;
}

#tasks-to-action div.task {
  margin: 0 0 15px 0;
  clear: both;
  overflow: auto;
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 4px 0 0 0;
}

#tasks-to-action div.task div.heading {
  padding: 0 10px 0 0;
  margin: 0 0 0 25px;
}

#tasks-to-action div.task div.heading span.title {
  display: block;
  float: left;
  padding: 0 0 6px 0;
  margin: 0 10px 0 0;
  width: 50%;
}

#tasks-to-action div.task div.heading span.title a:link {
  color: black;
  text-decoration: none;
}

#tasks-to-action div.task div.heading span.title a:visited {
  color: black;
  text-decoration: none;
}

#tasks-to-action div.task div.heading span.title a:hover {
  color: black;
  text-decoration: none;
}

#tasks-to-action div.task div.heading span.cypher {
  display: block;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
  width: auto;
}

#tasks-to-action div.task div.heading span.cypher select {
  font-size: 11px;
}

#tasks-to-action div.task div.heading span.comment-count {
  display: block;
  float: left;
  padding: 0 0px 0 0px;
  margin: 0 0 0 5px;
  background-image: url("/images/comment2.png");
  background-repeat: no-repeat;
  background-position: left 50%;
  font-size: 9px;
  text-align: center;
  width: 25px;
  height: 20px;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
}

#tasks-to-action div.task div.content {
  padding: 4px 20px 5px 35px;
  margin: 4px 0 0 0;
  clear: both;
  background-color: white;
  overflow: auto;
  border-style: solid;
  border-width: 1px 0 0px 0;
  border-color: #c3c3c3;
}

#tasks-to-action div.expanded {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 4px 0px 4px 0px;
  margin: 0 0 5px 0;
}

#tasks-to-action div.expanded:hover {
  padding: 4px 0px 4px 0px;
}

#tasks-to-action div.expanded div.handle {
  float: left;
  padding: 4px 10px 0 10px;
  margin: 0;
}

#tasks-to-action div.expanded div.description {
  padding: 0 0 5px 0;
  margin: 0;
}

#tasks-to-action div.expanded ul.edit-links {
  padding: 0 0 5px 0;
  margin: 0;
  clear: both;
  overflow: auto;
  float: left;
}

#tasks-to-action div.expanded ul.edit-links li {
  float: left;
  padding: 0 5px 0 0;
  margin: 0;
  clear: none;
}

#tasks-to-action div.expanded ul.edit-links li:hover {
  background-color: transparent;
  border-width: 0;
  padding: 0 5px 0 0;
  margin: 0;
}

#tasks-to-action div.expanded div.inlinebar {
  float: right;
}

#tasks-to-action .current-state {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  float: right;
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  margin: 0 0;
  height: 12px;
  width: 16px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;
  color: #333333;
  overflow: hidden;
  background-image: url("/images/status.png");
  background-repeat: no-repeat;
  background-position: left 50%;
  font-size: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

#tasks-to-action div.ui-state-active div.current-state {
  background: none !important;
}

#tasks-to-action .current-state.delivered, .state.delivered {
  background-color: #018aef;
}



body.dashboard #content {
  overflow: auto;
}

body.dashboard #content .panel li span.edit,
body.dashboard #content .panel li span.delete {
    display: none;
}

body.dashboard #content .panel li:hover span.edit,
body.dashboard #content .panel li:hover span.delete {
  display: block;
  float: right;
  position: relative;
}

body.dashboard #content .panel li {
  overflow: auto;
}

body.dashboard #content .panel.customers {
  float: left;
  margin-right: 0px;
}



div.buttons {
  float: right;
  margin-right: 10px;
}

div.buttons form {
  margin-left: 10px;
  float: right;
}

div.buttons form input[type=submit] {
  font-size: 11px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1px;
}

div.buttons form.accept input[type=submit] {
  background-color: #02b006;
}

div.buttons form.reject input[type=submit] {
  background-color: #b50702;
}
