/**
 * Forms
 */

label {
  min-width: 175px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

input[type='button'], input[type='submit'] {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background: #222222 url("/images/gradient.png") repeat-x;
  display: inline-block;
  padding: 3px 10px 1px 10px;
  color: white;
  border: 0px;
  min-width: 50px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  margin-bottom: 3px;
}

input[type='button']:hover, input[type='submit']:hover {
  background-color: #111111;
  color: white;
}

input[type='button']:active, input[type='submit']:active {
  top: 1px;
}

input[type='text'], textarea {
  border: 1px solid #ccc;
}

textarea {
  width: 98%;
}

.fieldWithErrors input {
  border: 1px solid red;
  color: red;
}

div.form-item-inline {
  display: inline;
}

div.form-item-inline input[type=submit] {
  vertical-align: text-bottom;
}


.form-item-block {
  overflow: auto;
}

.form-item-inline label {
  min-width: inherit;
}


div.form-submit {
  display: block;
  clear: both;
  margin: 0 5px 0 0;
  padding: 25px 0 0 15px;
  overflow: inherit;
}
