/**
 * Panels
 */

.panels {
  overflow: auto;
  padding: 5px 0;
}

.panel {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  float: left;
  background-color: #f3f3f3;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.panel.three {
  width: 33%;
}

.panel.three:nth-child(3) {
  float: right;
}

.panel.three:nth-child(2) {
  float: left;
}

.panel.three:nth-child(4) {
  margin: 0 auto;
  float: none;
}

.panel.two {
  width: 49.5%;
}

.panel.two:first-child {
  float: left;
}

.panel.two:last-child {
  float: right;
}

.panel > h3 {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  overflow: auto;
  margin: 0;
  padding: 5px 10px 5px 10px;
  background-color: #e2e2e2;
  border-bottom: 1px #cccccc solid;
  font-size: 15px;
}

.panel > .content {
  padding: 10px;
  height: 550px;
  overflow: auto;
}

.panel.small-panel > .content {
  height: auto;
}
.panel.no-padding > .content {
  padding: 0px;
}

.panel > .content table {
  width: 100%;
}

.panel .panel-footer {
  padding: 10px;
  border-top: 1px solid #cccccc;
  min-height: 18px;
}
/*
.panel .content ul li {
  padding-bottom: 3px;
}

.panel h3 input.search {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  float: right;
  background-color: white;
  border: 1px solid black;
}
*/