/**
 * Projects
 */

/* Projects#show */


body.projects-show #tasks div.task.bug span.title {
  background-image: url("/images/task_icons/bug.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.content span.title {
  background-image: url("/images/task_icons/content.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.database span.title {
  background-image: url("/images/task_icons/database.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.feature span.title {
  background-image: url("/images/task_icons/feature.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.markup span.title {
  background-image: url("/images/task_icons/markup.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.permissions span.title {
  background-image: url("/images/task_icons/permissions.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.scope-creep span.title {
  background-image: url("/images/task_icons/scope-creep.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.style span.title {
  background-image: url("/images/task_icons/style.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

body.projects-show #tasks div.task.system span.title {
  background-image: url("/images/task_icons/system.png");
  background-position: 100% 0%;
  background-repeat: no-repeat;
}


body.projects-show h2.title, body.task-show h2.title {
  float: left;
}


/*
body.projects-show div.stakeholders, body.reports-project_stakeholders div.stakeholders {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 0 0 3px #888888;
  -webkit-box-shadow: 0 0 3px #888888;
  box-shadow: 0 0 3px #888888;
  margin: 15px 5px 5px;
  background-color: #f3f3f3;
  border-color: #939393;
  border-style: solid;
  border-width: 1px;
  padding: 0px;
}
*/
body.projects-show div.stakeholders ul, body.reports-project_stakeholders div.stakeholders ul {
  margin: 10px;
}

body.projects-show div.stakeholders ul li, body.reports-project_stakeholders div.stakeholders ul li {
  width: 24%;
}

body.projects-show div.stakeholders h3, body.reports-project_stakeholders div.stakeholders h3 {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  overflow: auto;
  margin: 0;
  padding: 5px 10px 5px 10px;
  background-color: #dadada;
  border-bottom: 1px #cccccc solid;
}

body.projects-show div.stakeholders h3 span.right,
body.reports-project_stakeholders div.stakeholders h3 span.right {
  display: block;
  float: right;
}


#project,
#project div.projects.project_order,
#project div.projects.project_order div.projects {
  overflow: auto;
}

#project div.projects.project_order div.projects .project .project .title {
  background: white;
}

#project div.projects.project_order div.projects .project.project .title a {
  color: #333333;
}

div.project_order > h3 {
  padding: 5px;
  margin: 0px;
}

body.dashboard-not_staff_dashboard #project-list div.project div.heading {
  overflow: auto;
}

div.projects ul {
  margin: 0;
  padding: 0;
}

div.projects li {
  clear: both;
  overflow: auto;
  padding: 2px 15px 3px 15px;
  margin: 0;
  font-size: 13px;
}

div.projects li:hover {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 1px 15px 2px 15px;
  margin: 0;
}

div.projects li:hover a {
  color: black;
}

div.projects li span.name {
  display: block;
  float: left;
  width: 30%;
}

div.projects li span.name a {
  display: block;
}

div.projects li ul {
  display: block;
  float: left;
  list-style: none;
}

div.projects li ul.progress-details li {
  width: 70px;
}

div.projects li ul li {
  display: block;
  float: left;
  clear: none;
  margin: 0 10px 0 0;
  padding: 0;
}

div.projects li ul li:hover {
  border-width: 0;
  margin: 0 10px 0 0;
  padding: 0;
}

form#project_order_form .panel.four {
  width: 32%;
  float: left;
}

form#project_order_form div#project_order_proposed {
  width: 32%;
  margin-bottom: 15px;
}

form#project_order_form div#project_order_postponed {
  width: 32%;
  clear: left;
}

form#project_order_form div#project_order_proposed > .content,
form#project_order_form div#project_order_postponed > .content {
  height: 233px;
  overflow: auto;
  padding: 0px;
}

form#project_order_form div#project_order_current {
  float: none;
  margin: 0 auto;
}

form#project_order_form div#project_order_complete {
  width: 32%;
  float: right;
  margin-top: -620px;
}

form#project_order_form .project_order > .content {
  padding: 0px;
}

.project_order .current-state {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  float: right;
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  margin: 0 0;
  height: 12px;
  width: 16px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: url("/images/status.png");
  background-repeat: no-repeat;
  background-position: left 50%;
  font-size: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

div.project_order div.project.mine {
  background-color: #c8dff1;
}

div.project_order div.project.mine:hover {
  background-color: #abc2d4;
}

div.project_order div.project {
  padding: 5px 0px 5px 10px;
  margin: 0;
  clear: both;
  overflow: auto;
}

div.project_order div.project:hover {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 4px 0px 4px 10px;
}

div.project_order div.project div.handle {
  float: left;
  padding: 4px 5px 0 0px;
  margin: 0;
}

div.project_order div.project div.heading {
  padding: 0 4px 0 0;
  margin: 0 0 0 25px;
}

div.project_order div.project div.heading div.title {
  display: block;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
  width: 40%;
}

div.project_order div.project div.heading div.customer {
  float: left;
}

div.project_order div.project div.heading div.estimate {
  float: right;
  margin-right: 10px;
}

div.project_order div.project div.heading div.title a:link {
  color: black;
  text-decoration: none;
}

div.project_order div.project div.heading div.title a:visited {
  color: black;
  text-decoration: none;
}

div.project_order div.project div.heading div.title a:hover {
  color: black;
  text-decoration: none;
}

div.project_order div.project div.content {
  padding: 4px 20px 5px 35px;
  margin: 0;
  clear: both;
  background-color: white;
  overflow: auto;
}

div.project_order div.expanded {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c3c3c3;
  color: black;
  padding: 4px 0px 4px 0px;
  margin: 0 0 5px 0;
}

div.project_order div.expanded:hover {
  padding: 4px 0px 4px 0px;
}

div.project_order div.expanded div.handle {
  float: left;
  padding: 4px 10px 0 10px;
  margin: 0;
}

div.project_order div.expanded div.heading {
  padding: 0 4px 0 0px;
  margin: 0 0 0 25px;
}

div.project_order div.expanded ul.progress-details {
  padding: 0 0 10px 0;
  margin: 0;
  overflow: auto;
}

div.project_order div.expanded ul.progress-details li {
  float: left;
  padding: 0 3px 0 0;
  margin: 0;
  clear: none;
}

div.project_order div.expanded ul.progress-details li:hover {
  background-color: transparent;
  border-width: 0;
  padding: 0 3px 0 0;
  margin: 0;
}

div.project_order div.expanded ul.edit-links {
  padding: 0 0 5px 0;
  margin: 0;
  clear: both;
  overflow: auto;
  float: left;
}

div.project_order div.expanded ul.edit-links li {
  float: left;
  padding: 0 5px 0 0;
  margin: 0;
  clear: none;
}

div.project_order div.expanded ul.edit-links li:hover {
  background-color: transparent;
  border-width: 0;
  padding: 0 3px 0 0;
  margin: 0;
}

div.project_order div.expanded div.inlinebar {
  float: right;
}

body.projects form#new_attachment {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  clear: both;
  float: left;
  margin: 0;
  padding: 5px;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #939393;
  border-width: 1px;
}

body.projects form#new_attachment div.form-item {
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
}

body.projects div.project-info {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  float: right;
  margin: 0 0 10px 0;
  padding: 5px;
  background-color: #e2e2e2;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  overflow: auto;
}

body.projects div.project-info.overrunning span {
  color: red;
}



body.projects form#new_task {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  clear: both;
  position: absolute;
  left: 15px;
  z-index: 100;
  width: 31%;
  margin: 0 0 10px 0;
  padding: 5px;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #939393;
  border-width: 1px;
}

body.projects form#new_task div.form-item {
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
}

body.projects form#new_task div.form-item label {
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
  min-width: inherit;
}

body.projects div#tasks {
  margin-bottom: 10px;
  clear: both;
}

body.projects div.post-info {
  overflow: auto;
}


li.project span.state {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
  width: 65px;
  text-align: center;
}
