#staff_time_stats, #hours_calendar {
  width: 48%;
}

#staff_time_stats {
  float: left;
}

#hours_calendar {
  float: right;
}

#staff_time_stats .staff {
  margin-bottom: 20px;
}

#staff_time_stats strong {
  color: #333333;
}

#staff_time_stats .staff .stat {
  margin-left: 10px;
}

#staff_time_stats .staff .stats .stat {
  margin-bottom: 5px;
}

#hours_calendar table tbody tr, #hours_calendar table thead {
  border: 0px;
}

.week-total-time, .fc-agenda .week-total-time .fc-event-time, .week-total-time a {
  background-color: #0472cc !important;
  border-color: #0472cc !important;
}

.day-total-time, .fc-agenda .day-total-time .fc-event-time, .day-total-time a {
  background-color: #cc040b !important;
  border-color: #cc040b !important;
}
