/**
 * Stakeholders
 */

/*
body.dashboard-not_staff_dashboard #project-list div.project .stakeholders,
body.projects-show div.stakeholders,
body.reports-project_stakeholders div.stakeholders {
  clear: both;
  display: block;
  float: none;
  margin: 0;
  padding: 4px 15px 10px 15px;
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #c3c3c3;
}

body.dashboard-not_staff_dashboard #project-list div.project:hover .stakeholders,
body.projects-show div.stakeholders,
body.reports-project_stakeholders div.stakeholders {
  display: block;
  margin: 0;
  color: black;
  float: none;
}

body.dashboard-not_staff_dashboard #project-list div.project .stakeholders ul,
body.projects-show div.stakeholders ul,
 body.reports-project_stakeholders div.stakeholders ul {
  margin: 0;
  padding: 10px 0 0 0;
  overflow: auto;
}
*/
body.dashboard-not_staff_dashboard #project-list div.project .stakeholders ul li,
body.projects-show div.stakeholders ul li,
body.reports-project_stakeholders div.stakeholders ul li {
  margin: 0 5px 10px 0;
  padding: 0;
  float: left;
  display: block;
  width: 30%;
  clear: none;
}



div.stakeholders {
  margin: 0 0 15px 0;
  padding: 0;
}

div.stakeholders h3 {
  margin: 0 0 3px 0;
  padding: 0;
  color: #888888;
  font-size: 12px;
}

div.stakeholders ul {
  margin: 0;
  padding: 0;
}

div.stakeholders ul li {
  margin: 0 0 5px 0;
  padding: 0;
  clear: both;
}

div.stakeholders ul li:hover {
  margin: 0 0 5px 0;
  padding: 0;
  background-color: #eeeeee;
  border-width: 0;
}

div.stakeholders ul li img {
  margin: 0 5px 0 0;
  padding: 0;
  border-width: 0;
  float: left;
}

div.stakeholders ul li span.username {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 20%;
}


ul.stakeholders > li {
  clear: both;
}

ul.stakeholders img.gravatar {
  float: left;
}
