/**
 * States
 */

/* Projects */

.current-state.current,
.state.current {
  background-color: #6cb601;
}

.current-state.complete,
.state.complete {
  background-color: #ef9401;
}

.current-state.postponed,
.state.postponed {
  background-color: #ef5001;
}

.current-state.proposed,
.state.proposed {
  background-color: #018aef;
}

/* Tasks */

.current-state.started,
.state.started {
  background-color: #ef9401;
}

.current-state.accepted,
.state.accepted {
  background-color: #02B006;
}

.current-state.rejected,
.state.rejected {
  background-color: #B50702;
}

.current-state.not_started,
.state.not_started {
  background-color: #efe701;
}

.current-state.delivered,
.state.delivered {
  background-color: #018aef;
}

.current-state.duplicate,
.state.duplicate {
  background-color: #01a1ab;
}

.current-state.change_of_scope,
.state.change_of_scope {
  background-color: #9401ef;
}
