/**
 * Tasks
 */
body.projects #content #task_order_todo {
  float: left;
  margin-right: 0px;
}

body.projects #content #task_order_doing {
  float: none;
  margin: 0 auto;
}


#task_order_todo .clock,
#task_order_done .clock {
  display: none;
}


#tasks .panel .content {
  font-size: 13px;
}

form#task_order_form .task_order > .content {
  padding: 0px;
}

div.task_order div.task {
  padding: 5px 5px 5px 10px;
  border-color: #EEEEEE;
  border-style: solid;
  border-width: 1px 0;
  margin: 5px 0;
  clear: both;
  overflow: auto;
  background-repeat: repeat-x;
  background-image: url("/images/gradient.png");
}

div.task_order div.task:hover,
div.task_order div.task.ui-sortable-helper {
  background-color: #d6d6d6;
  border-style: solid;
  border-width: 1px 0;
  border-color: #cecece;
  color: black;
}

div.task_order div.task div.handle {
  float: left;
  padding: 4px 5px 0 0px;
  margin: 0;
}

div.task_order div.task.edit-active .state-buttons {
  display: none;
}

div.task_order div.task div.heading {
  padding: 0;
  margin: 0 0 0 25px;
}

div.task_order div.task div.heading span.title {
  display: block;
  float: left;
  padding: 0;
  margin: 0 10px 3px 0;
  width: 100%;
  border-bottom: 1px dotted #eee;
}

div.task_order div.task:hover div.heading span.title {
  border-bottom: 1px dotted #cecece;
}

div.task_order div.task div.heading span.title a {
  margin-right: 20px;
  display: block;
}

div.task_order div.task div.heading span.title a:link,
div.task_order div.task div.heading span.title a:visited,
div.task_order div.task div.heading span.title a:hover {
  color: black;
  text-decoration: none;
}

div.task_order div.task div.heading span.cypher {
  display: block;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
  width: auto;
  font-size: 0.8em;
  cursor: pointer;
}

div.task_order div.task div.heading span.cypher select {
  font-size: 11px;
}

div.task_order div.task select {
  border: 1px solid;
}

div.task_order div.task div.heading span.comment-count {
  display: block;
  float: right;
  padding: 0 0px 0 0px;
  margin: 0 0 0 5px;
  background-image: url("/images/comment2.png");
  background-repeat: no-repeat;
  background-position: left 50%;
  font-size: 9px;
  text-align: center;
  width: 25px;
  height: 20px;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
}

div.task_order div.task div.content {
  padding: 4px 20px 5px 35px;
  margin: 0;
  clear: both;
  background-color: white;
  overflow: auto;
}

div.task_order div.options {
  float: right;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

div.task_order div.options a {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("/images/options.png");
  background-repeat: no-repeat;
}

div.task_order .current-state {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  float: right;
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  margin: 0 0 0 5px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  vertical-align: middle;
  color: #333333;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

div.task_order .state-button {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  float: right;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 3px;
  margin: 0 0 0 5px;
  height: 12px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  color: #333333;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

div.task_order .state-button a {
  color: #fff;
  text-decoration: none;
}

div.task_order ul.edit-links {
  display: none;
}

div.task_order .current-state a {
  color: white;
}

div.task_order div.ui-state-active div.current-state {
  background: none !important;
}



div.tasks ul {
  margin: 0;
  padding: 0;
}

div.tasks ul.tasks > li {
  background-repeat: repeat-x;
  background-image: url("/images/gradient.png");
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #eeeeee;
  clear: both;
  overflow: auto;
  padding: 2px 15px 3px 15px;
  margin: 5px 0;
  font-size: 13px;
}

div.tasks ul.tasks > li:hover {
  background-color: #e2e2e2;
  border-color: #cecece;
}

div.tasks li:hover a {
  color: black;
}

div.tasks li span.name {
  display: block;
  float: left;
  width: 30%;
}

div.tasks li span.state {
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

div.tasks li span.comment-count {
  display: block;
  float: left;
  padding: 0 0px 0 0px;
  margin: 0 10px 0 5px;
  background-image: url("/images/comment2.png");
  background-repeat: no-repeat;
  background-position: left 50%;
  font-size: 9px;
  text-align: center;
  width: 25px;
  height: 20px;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
}

div.tasks li ul {
  display: block;
  float: left;
  list-style: none;
}

div.tasks li ul li {
  display: block;
  float: left;
  clear: none;
  margin: 0 10px 0 0;
  padding: 0;
}

div.tasks li ul li:hover {
  border-width: 0;
  margin: 0 10px 0 0;
  padding: 0;
}

body.tasks h2.title {
  float: left;
  margin: 0;
  padding: 0;
}

body.tasks div.post-info {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin: 0;
  padding: 5px;
  background-color: #e2e2e2;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  overflow: auto;
}

body.tasks div.post-info a.gravatar {
  display: block;
  margin: 0 5px 0 0;
  padding: 0px;
  float: left;
}

body.tasks div.post-info img {
  border-width: 1px;
}

body.tasks div.description {
  clear: both;
  margin: 0 0 15px 0;
  padding: 0;
}

body.tasks form#new_attachment {
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  clear: both;
  float: left;
  margin: 0;
  padding: 5px;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}

li.task span.state {
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  display: inline-block;
  width: 65px;
  text-align: center;
}

body.tasks form#new_attachment div.form-item {
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
}


#task-details.panel {
  margin: 0px;
}


div.bt-content ul.edit-links {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

div.bt-content ul.edit-links li.task_id {
  display: none;
}

body.projects-show .expand-collapse {
  display: none;
}

div.bt-content ul.edit-links li {
  margin: 0px;
}

div.bt-content ul.edit-links li a {
  text-decoration: none;
}

div.bt-content ul.edit-links li a img {
  vertical-align: middle;
}
