<% if @user.ignore_mail.present? && @user.ignore_mail.size > 0 %>
<div class="panel three">
<h3 class="title">Disabled notifications</h3>
<div class="content">
<ul>
  <% @user.ignore_mail.each do |type, ids| %>
   <li>
   <%= type.pluralize %>
     <ul>
     <% ids.each do |id| %>
      <li><%= link_to type.constantize.find(id), type.constantize.find(id) %></li>
     <% end %>
     </ul>
   </li>
   <% end %>
</ul>
</div>
</div>
<% end %>
