<% content_tag 'tr', { :class =>  "customer-#{customer.id} customer" } do %>
  <td class="name"><%= link_to customer.name, customer %></td>
  <td class="projects"><%= pluralize(customer.projects.length, 'project') %></td>
<% end %>
