<% content_tag 'li', { :class =>  ["customer-#{customer.id}", 'customer'].join(' ') } do %>
  <span class="name"><%= link_to customer.name, customer %></span>

  <span class="projects"><%= pluralize(customer.projects.length, 'project') %></span>

  <ul class="edit-links">
    <li class="edit"><%= edit_link customer %></li>
    <li class="delete"><%= delete_link customer %></li>
  </ul>

<% end %>
