<%- form_for(@customer) do |form| -%>
<%- flash[:error] = form.error_messages :message => nil, :header_message => nil -%>
  <div class="form-item form-item-block">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-item form-item-block">
    <%= form.submit "Save" %>
  </div>
<%- end -%>

