<%- form_for(@customer) do |form| -%>
<%- flash[:error] = form.error_messages :message => nil, :header_message => nil -%>
  <div class="form-item form-item-block clearfix">
    <%= form.label :name %>
    <div class="input">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Save", :class => "btn primary" %>
  </div>
<%- end -%>

