<%- content_for :tabs do -%>
  <%= tab 'New customer', new_customer_path %>
<%- end -%>

<%- content_for :breadcrumbs do -%>
  <%= crumb 'Customers', customers_path %>
<%- end -%>

<% title "Customers" -%>
<div id="customers" class="customers panel no-padding">
  <h3 class="title">Customers</h3>
  <div class="content">
    <ul class="customers">
      <%= render @customers %>
    </ul>
  </div>
  <div class="panel-footer">
    <%= will_paginate @customers %>
  </div>
</div>
