<% content_tag 'div', { :class =>  "project-#{project_dashboard.id} project" } do %>
  <div class="name"><%= link_to project_dashboard.name, project_dashboard %></div>
  <div class="customer"><%= link_to project_dashboard.customer, project_dashboard.customer %></div>
<% end %>
