<% if @timeslices.present? %>
<div id="timesheet-table">
  <table id="timesheet-week">
    <thead>
      <tr><th>User</th><th>Project #</th><th>Project</th><th>Task #</th><th>Task</th><th>Time</th><th>Description</th><th>Duration</th><th>Chargeable</th></tr>
    </thead>
    <% (@start_date..@end_date).collect {|d| {:week => d.strftime('%W'), :start_date => d.beginning_of_week, :end_date => d.end_of_week}}.uniq.each do |data| %>
    <%= render :partial => 'week_timesheet', :locals => {:timeslices => @timeslices, :start_date => data[:start_date], :end_date => data[:end_date]} %>
    <% end %>
    <% if (@start_date..@end_date).collect.size/7.0 %>
    <tr class="total grand-total">
      <td colspan="7"></td>
      <td><%= (Timeslice.total_duration(@timeslices.by_date(@start_date, @end_date))/60/60).to_f.round(2) %> hours</td>
      <td><%= (Timeslice.total_chargeable_duration(@timeslices.by_date(@start_date, @end_date))/60/60).to_f.round(2) %> hours</td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
